.homepage{
    margin-top: 10vh;
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
     font-family: 'Merriweather', serif;
}
.homepage p{
    font-size: 3.5rem;
}
.topleft-baner{
    min-height: 40vh;
    display: flex;
    
    padding-left: 20%;
    padding-right: 20%;
    background-color: #F5F5F5;
}

.left-homepage-element{
    padding: 15px;
    background-color: #F5F5F5;
    position: relative;
    max-width: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
}
.topleft-article{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 20%;
    min-height: 20%;
    background-color: #F5F5F5 ;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.topleft-article p{
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
}
.topleft-img{
    display: flex;
    margin-top: 20%;
    margin-left: 1%;
    max-width: 310px;
    max-height: 416px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1150px){
    .homepage h1{
        font-size: 1.75rem;
    }
    .topleft-article p{
        font-size: 1rem;
    }
    .topleft-article{
        min-width: 60%;
    }
}
@media screen and (max-width: 1316px)
{
    .topleft-article{
        min-width: 70%;
    }
}
@media screen and (max-width: 941px)
{
    .topleft-img{
        margin-top: 40%;
        max-width: 200px;
        max-height: 213px;
    }
}
@media screen and (max-width: 900px)
{
    .homepage h1{
        font-size: 1.2rem;
    }
    .topleft-article p{
        font-size: 0.75rem;
    }
    .topleft-article{
        min-width: 70%;
    }
    .topleft-baner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topleft-img{
        max-width: 310px;
    max-height: 416px;
    margin-top: 2%;
    }
}