.rightSideHeader{
    display: flex;
    font-size: 0.2rem;
    justify-content: center;
    justify-items: center;

}

.userCourses, .money, .settings {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 5px;
    padding: 2px;
}
.userCourses:hover, .money:hover, .settings:hover{
    border-color: chocolate;
    color: chocolate;
    cursor: pointer;
}

@media  screen and (max-width: 985px) {
    .userCourses, .money, .settings{
        display: none;
    }
    .btnbtn .login{
        display: none;
    }
}