.courses-container{
    display: flex;
  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
.courses-heading{
    margin: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 860px){
  .courses-heading{
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px){
  .courses-heading{
    font-size: 1.5rem;
  }
}